html {
  height: 100%;
}

body {
  margin: 1rem;
  overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  width: 50%;
}

header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-size: 2em;
  color: white;
  text-decoration: underline;
  align-self: center;
}

header a:hover {
  color: rgb(204, 204, 204);
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}

.bkgr-img {
  position: absolute;
  left: -1%;
  right: -1%;
  top: -1%;
  width: 102%;
  z-index: -1;
  filter: blur(4px);
}

.error {
  font-size: large;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(255, 109, 109, 0.76);
}

.loading {
  border: 2rem solid #8faf8e;
  border-top: 2rem solid rgb(94, 94, 119);
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
